.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header h2 {
  margin: 0;
  padding: 10px 0 15px 0;
  text-align: center;
}

.content textarea {
  height: 100px;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 100px;
  resize: none;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ff5200;
  border-radius: 5px;
}
.content textarea:focus {
  outline: 2px solid #ff5200 !important;
}
.content button {
  border: none;
  outline: none;
  background: #ff5200;
  color: white;
  font-weight: bold;
  padding: 15px 40px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 20px;
  text-transform: uppercase;
}

.content button:hover {
  background: #c94609;
}

.output {
  font-weight: 500;
  font-size: 20px;
  color: rgb(56, 54, 54);
  background: #e9e5e5;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
}

.footer {
  background: #000000e1;
  padding: 20px;
}

.footer p {
  color: white;
}
